<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>

  <meta name="author" content="{{ site.Params.author }}">
  <meta name="description" content="{{ with .Params.description }} {{.}} {{else}} {{ with site.Params.description }} {{.}} {{end}} {{end}}">

  {{ "<!-- Mobile Responsive Meta -->" | safeHTML}}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

  {{ "<!-- Favicon -->" | safeHTML}}
  <link rel="icon" href="{{ site.Params.favicon | absURL }}" type="image/x-icon">

  {{ "<!-- CSS Plugins -->" | safeHTML}}
  {{ partialCached "style.html" . }}

  <!-- CSS -->
  {{ range .Site.Params.customCSS -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
  {{- end }}

  <!-- JavaScript -->
  {{ range .Site.Params.customJS -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
  {{- end }}

  <!-- Social Media -->
  {{ partial "social_metadata.html" . }}

  <!-- Umami Analytices -->
  <script async defer data-website-id="79f743c6-56d3-4c56-b72d-3f37c8547ab8" src="https://umami-hikariai-selfhost.herokuapp.com/umami.js"></script>
</head>
