/* Code Hightlighter */
.language-yaml {
  /* user-select: none; */
}

/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f;
}

/* Selection Hightlight Color */
*::selection {
  background: #bfc6ff;
  color: #483b59;
}

/* Backtick Highlight */
code {
  color: #8159d9;
  font-weight: 500;
}

/* Nav Bar */
.nav-item {
  margin-right: 30px;
}
.nav-item:first-child {
  margin-left: 50px;
}

/* Dropdown Menu */
.dropdown-menu {
  margin-left: 80px;
}
