/* --- Page Configuration --- */

/* Selection Hightlight Color */
*::selection {
  background: #bfc6ff;
  color: #483b59;
}

/* Backtick Highlight */
code {
  color: #8159d9;
  font-weight: 500;
}

/* Nav Bar */
.nav-item {
  margin-right: 30px;
}
.nav-item:first-child {
  margin-left: 50px;
}

/* Dropdown Menu */
.dropdown-menu {
  margin-left: 80px;
}

/* Social Links */
.social-links {
  margin-top: 20px;
}
.social-links .list-inline-item {
  padding: 0 5px;
}

/* --- Syntax Highlighter ColorScheme --- */

/* KeywordNamespace */
.chroma .kn {
  color: #33f260;
  font-weight: bold;
}
/* Keyword */
.chroma .k {
  color: #33f260;
  font-weight: bold;
}
/* KeywordConstant */
.chroma .kc {
  color: #aa22ff;
  font-weight: bold;
}
/* NameNamespace */
.chroma .nn {
  color: #96928c;
}
