/* --- Page Configuration --- */

/* Selection Hightlight Color */
*::selection {
  background: #a6a6a6;
  color: #fdfdfd;
}

/* Backtick Highlight */
code {
  padding: .2em .4em;
  font-size: 85%;
  background: #f2f2f2;
  color: #595959;
  font-weight: 500;
  white-space: break-spaces;
  border-radius: 6px;
}

/* Social Links */
.social-links {
  margin-top: 20px;
}
.social-links .list-inline-item {
  padding: 0 5px;
}

/* --- Syntax Highlighter ColorScheme --- */

/* KeywordNamespace */
.chroma .kn {
  color: #33f260;
  font-weight: bold;
}
/* Keyword */
.chroma .k {
  color: #33f260;
  font-weight: bold;
}
/* KeywordConstant */
.chroma .kc {
  color: #aa22ff;
  font-weight: bold;
}
/* NameNamespace */
.chroma .nn {
  color: #96928c;
}
